<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Smart cleaning service - Home</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="manifest" href="site.html" />
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />

    <!-- CSS  -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/fontawesome.min.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="css/meanmenu.css" />
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />

    <!-- toastify -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
      .product-img {
        position: relative;
        overflow: hidden;
      }

      .product-img img {
        transition: transform 0.5s ease;
      }

      .product-img:hover img {
        animation: zoom-in 5s infinite;
      }

      @keyframes zoom-in {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    </style>
  </head>
  <body>
    <!-- loader -->
    <div id="loader-wrapper">
      <div id="loader"></div>
    </div>

    <!-- header -->
    <%- include('../partials/header') %>

    <section class="slider">
      <div class="container pl-0 pr-0">
        <div class="slider-active center-dots number-dots">
          <% bannerHome.forEach(banner => { %>
          <div
            class="single-slider large-content h-790 d-flex align-items-center"
            data-background="<%= banner.image %>"
          >
            <div class="container-fluid">
              <div class="single-slider-inner">
             
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </section>

    <!-- new arrival section -->
    <section class="new-arrival mt-120">
      <div class="container container-1430">
        <div class="generic-title text-center">
          <h2 class="mb-20">#New Services</h2>
        </div>

        <div class="new-arrival-wrapper mt-55">
          <div class="row">
            <% services.forEach(service=>{ %>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="product-box mb-40">
                <div class="product-box-wrapper">
                  <div class="product-img">
                    <a
                      href="/service/<%= service._id %>"
                      class="product-category"
                    >
                      <img
                        src="<%= service.images[0] %>"
                        class="w-100"
                        alt="<%= service.title %>"
                      />
                    </a>
                  </div>

                  <div class="product-desc pb-20">
                    <a href="/service/<%= service._id %>" class="product-title"
                      ><%= service.title %></a
                    >
                    <span
                      >₹
                      <%= service.sellingPrice %></span
                    >
                  </div>
                </div>
                <a
                  href="/service/<%= service._id %>/book"
                  class="bg-primary px-4 py-2 rounded d-flex justify-content-center align-items-center text-white"
                  >Book Now</a
                >
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </section>

    <!-- footer  -->
    <%- include('../partials/footer') %>

    <script>
      const slider = new Swiper(".slider-active", {
        loop: true,
        autoplay: {
          delay: 5000,
        },
      });
    </script>

    <!-- JS here -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/one-page-nav-min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.meanmenu.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/fontawesome.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
